<div class="columns">
    <div class="column is-12 is-6-tablet is-4-desktop">
        <p class="control">
            <label class="label">Name</label>
            <input class="category-name input" required value={{model.name}}>
        </p>
        <p class="control">
            <label class="label">Parent category</label>
            <select class="category-parent-id select is-fullwidth" value={{model.parentId}}>
                <option value="">None</option>
            </select>
        </p>
        <p class="control">
            <a class="category-save button is-success" onclick={{action "saveHandler"}}>Save</a>
            <a class="category-save button is-outlined" onclick={{action "cancelHandler"}}>Cancel</a>
        </p>
    </div>
</div>