<div class="field">
	<label class="label">{{t "section.options.language.lang"}}</label>
	<p class="control">
		{{common/button-bar options=options value=i18n.locale action="handleLanguageChanged"}}
	</p>
</div>