<article class="container">
    <h1 class="title">Edit category "{{model.model.namePath}}"</h1>
    {{category-editor categories=model.categories onSave=(action 'onSave') onCancel=(action 'onCancel') model=formModel}}
</article>
