<article class="container">
	<h1 class="title">{{t "section.categories.edit.title" title=model.model.namePath}}</h1>
	{{category-editor categories=model.categories onSave=(action 'onSave') onCancel=(action 'onCancel') model=formModel}}
</article>
