    <h1 class="container title">Expense categories</h1>
    <div class="action-row">
        <div class="container">
            <span>Actions</span>
            {{#link-to "categories.new" class="button is-primary"}}Add new category{{/link-to}}
            </div>
    </div>

    <article class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Namepath</th>
            <th>Parent</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each sortedCategories as |row|}}
            <tr>
                <td>{{{row.namePathForHtml}}}</td>
                <td>
                    {{#if row.parent}}
                        {{row.parent.name}}
                    {{else}}
                        --
                    {{/if}}
                </td>
                <td>
                    <span class="icon">
                        {{#link-to "categories.edit" row.id}}
                            <i class="fa fa-edit"></i>
                        {{/link-to}}
                    </span>
                    <span class="icon">
                        <a href="#" onclick={{action "deleteCategory" row.id}}>
                            <i class="fa fa-remove"></i>
                        </a>
                    </span>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</article>
