<article class="categories-new-route">
	<h1 class="title">{{t "section.categories.new.title"}}</h1>
	{{category-editor categories=model.categories onSave=(action 'onSave') onCancel=(action 'onCancel')}}
</article>