<header>
    <div class="container">
        <div class="headers">
            <h1 class="title">Micro Expense Tracker</h1>
            <h4 class="subtitle">Track your daily expenses faster than you can type!</h4>
        </div>
        <nav>
            <strong>Main menu:</strong>
            {{#link-to "categories"}}Categories{{/link-to}}
            {{#link-to "expenses"}}Expenses{{/link-to}}
        </nav>
    </div>
</header>

{{outlet}}